{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SureCar</title>
        <link id="sheet-theme" rel="stylesheet" type="text/css" href="{% static 'style.css'%}">
    </head>
    <body>

        <section id="header">
            <a href="#"> {% load static %} <img src="{% static "img/logo.png" %}" width="250" height="75" class="logo" alt=""></a>

            <div>
                <ul id="navbar">
                    <li><a href="/home">Home</a></li>
                    <li><a class="active" href="/browse">Browse Cars</a></li>
                    <li><a href="/sell">Sell Your Car</a></li>
                    <li><a href="/smartrecommender">Smart Recommender</a></li>
                    <li><a href="/about">About Us</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="/signout">Sign Out</a></li>
                    {% else %}
                    <li><a href="/signin">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </section>

        <section id="filtersection">
            <h9>Filter</h9>
            <div class="filtercontainer">
                <form action="browse" method="post">
                    {% csrf_token %}
                    <input type="text" name="minimumprice" placeholder="Minimum Price"><br>
                    <input type="text" name="maximumprice" placeholder="Maximum Price"><br>
                    <input type="submit" value="Go">
                </form>
            </div>
        </section>
        
        <section id="browsebody">
            <h9>Car Listings</h9>
            <div class="container">
                {% for Car in data %}
                    <ul style="list-style: none;">
                        <div class="car">
                            <a href="/car/{{Car.car_id}}">
                            <img src="{{Car.image.url}}" width="260" height="170" alt="">
                            <li>Name: {{Car.name}}</li>
                            <li>Year: {{Car.year}}</li>
                            <li>Price: {{Car.price}}</li>
                            <li>Km Driven: {{Car.km_driven}}</li>
                            <li>Fuel Type: {{Car.fuel_type}}</li>
                            <li>Seller Type: {{Car.seller_type}}</li>
                            <li>Transmission: {{Car.transmission}}</li>
                            <li>Owner: {{Car.owner}}</li>
                            <li>Mileage: {{Car.mileage}}</li>
                            <li>Engine: {{Car.engine}}</li>
                            <li>Seats: {{Car.seats}}</li>
                        </div>
                    </ul>
                {% endfor %}
            </div>
        </section>
        <script> 
            
        </script>
    </body>
</html>