{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link id="sheet-theme" rel="stylesheet" type="text/css" href="{% static 'style.css'%}">
    </head>
    <body>

        <section id="header">
            <a href="#"> {% load static %} <img src="{% static "img/logo.png" %}" width="250" height="75" class="logo" alt=""></a>

            <div>
                <ul id="navbar">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/browse">Browse Cars</a></li>
                    <li><a href="/sell">Sell Your Car</a></li>
                    <li><a href="/smartrecommender">Smart Recommender</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a class="active" href="/signin">Login</a></li>                   
                </ul>
            </div>
        </section>

        <section id="signupbody">
            <h1>Login</h1>
            
            <form action="signin" method="post">
                {% csrf_token %}
                {% comment %} <select id="usertype" Name="usertype">
                    <option value="buyer">Buyer</option>
                    <option value="seller">Seller</option>
                </select> {% endcomment %}
                <input type="text" name="username" placeholder="Username"><br>
                <input type="password" name="password" placeholder="Password"><br>
                <input type="submit" value="Log In">
            </form>
            <a class="linksignup" href="/signup">Sign Up?</a>
        </section>

        <script src="script.js"></script>
    </body>
</html>